[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
      color: #878787;
    }
    [type="file"]::-webkit-file-upload-button {
      background:#ffc0be;
      border: 2px solid #FFB9B7;
      border-radius: 4px;
      color: #000000;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all 1s ease;
    }
    
    [type="file"]::-webkit-file-upload-button:hover {
      background: #e2e8f0;
      border: 2px solid #535353;
      color: #000;
    }
    
    /* GENERAL STYLING OF PAGE — NOT APPLICABLE TO EXAMPLE */
    body {
      padding: 20px;
    }